.icon_button_card {
  display: flex;
  /* box-shadow: 0.5px 0.5px 10px  rgba(0,0,0,0.1); */
  padding: 10px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  max-block-size: 30px;
  margin: 5px;
  background-color: white;
}

.icon_button_card .icon {
  color: black;
  width: 30px;
  height: 30px;
}
