.title-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin: 10px;
  background: #f4f4f4;
  border-radius: 10px;
}

.title-block .title {
  margin: 0px;
  padding-left: 8px;
  color: black;
  font-family: "Nunito";
}

.title-block .logo {
  display: flex;
  align-items: center;
}

/* .left-block{
  float:left;
  margin: 10px;
  padding: 10px;
  height: 100%;
  width: 5%;
  position: auto; 
  background-color: #f4f4f4;
  overflow-x: hidden;
  border-radius: 10px;
  z-index: 1;
  text-align: center;
  top:0;
  left:0;
} */
