.title-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin: 10px;
  background: #f4f4f4;
  border-radius: 10px;
}

.title-block .title {
  margin: 0px;
  padding-left: 8px;
  color: black;
  font-family: "Nunito";
}

.title-block .logo {
  display: flex;
  align-items: center;
}
