body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p,
h1,
h2 {
  color: #555;
}

button {
  background: transparent;
  color: #fff;
  padding: 0px;
  border: 0;
  border-radius: 0px;
  margin: 5px auto;
  cursor: pointer;
}

.App {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}
